<div id="<%= dom_id branch %>">
  <p>
    <strong>Nombre:</strong>
    <%= branch.name %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= branch.address %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= branch.phone %>
  </p>

</div>
