<p style="color: green"><%= notice %></p>

<h1>Sucursales</h1>

<div id="branches">
  <% @branches.each do |branch| %>
    <%= render branch %>
    <p>
      <%= link_to "Mostrar esta sucursal", branch %>
    </p>
  <% end %>
</div>
<% if can? :create, Branch  %>
  <%= link_to "Nueva sucursal", new_branch_path %>
<% end %>
