<p style="color: green"><%= notice %></p>

<h1>Usuarios</h1>

<div id="users">
    <% @users.each do |user| %>
        <%= user.email %>
        <%= link_to "Editar Usuario " ,  users_edit_path(user.id) %>
        <br/>
    <% end %>
</div>



