<p style="color: green"><%= notice %></p>

<%= render @schedule %>

<div>
  <%= link_to "Editar horario", edit_schedule_path(@schedule) %> |
  <%= link_to "Volver a horarios", schedules_path %>

  <%#= button_to "Destroy this schedule", @schedule, method: :delete %>
</div>
