<h1>Editando localidad</h1>

<%= render "form", location: @location %>

<br>

<div>
  <%= link_to "Mostrar esta localidad", @location %> |
  <%= link_to "Volver a localidades", locations_path %>
</div>
